{% extends 'base.html' %}

{% block title %}Home | QuizWiz{% endblock title %}

  {% block content %}
  {% load static %}

  <div class="container text-center my-4">
    <h1 class="display-5 fw-bold my-2">Welcome to QuizWiz!</h1>
    <p class="fs-3">Unlock your genius: Bite-sized quizzes for big-time learning.</p>
  <div class="d-inline-flex gap-2 mb-5">
    <a href="{% url 'all_quiz' %}" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4">
      Take a Quiz
    </a>
    {% if user.is_authenticated %}
    {% else %}
    <a href="{% url 'register' %}" class="btn btn-outline-secondary btn-lg px-4">
      Sign Up
    </a>
    {% endif %}
  </div>
    </div>

    <div class="container text-center">
      <h3>Leaderboard</h3>
      <h1 class="display-4 text-center my-5">Top 3 Performers</h1>
      
  
      <div class="row">
          {% if leaderboard_users|length == 0 %}
          <div class="col-lg-4 position-relative mb-4">
              <h4 class="text-center text-danger">No User Available on Leaderboard!!</h4>
          </div>
          {% else %}
          {% for rank in leaderboard_users %}
          <div class="col-lg-4 position-relative mb-4">
              <img src="{{rank.user.profile.profile_img.url}}" class="rounded-circle" width="150" height="150" alt="user-profile">
              <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success">{{forloop.counter}}</span>
              <h2 class="fw-normal">@{{rank.user.username}}</h2>
              <p>{{rank.user.profile.bio|truncatewords:5}}</p>
              <p><a class="btn btn-secondary" href="{% url 'profile' rank.user.username  %}">View Profile »</a></p>
          </div>
          {% endfor %}
          {% endif %}
      </div>



{% endblock %}



    



    