{% extends 'base.html' %}

  {% block content %}
  {% load static %}


   <h1 class="display-4 text-center my-5">Pratiksha's Profile</h1>
  <div class="container text-center">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-outline-primary">Edit</button>
        <button type="button" class="btn btn-outline-danger">Delete</button>
      </div>

      <div class="container text-center my-4">
        <div class="row">
          <div class="col">
            <img src="{% static 'images/user.png' %}" alt="user-profile" height="150" width="150">
            <h2 class="fs-3">@pratiksha</h2>
          </div>
          <div class="col">
            <h2>Pratiksha Bramhane</h2>
            <p class="fs-5"><i class="bi bi-gender-ambiguous"></i> Female</p>
            <p class="fs-5"><i class="bi bi-geo-alt-fill"></i> Mumbai</p>
            <p class="fs-5"><i class="bi bi-file-person"></i> I'm a Python Developer</p>
          </div>
        </div> 
      </div>
      <hr class="my-5">

      <div class="container">
        <div class="row">
            <div class="col">
                <h3>Quiz Attended by @pratiksha</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Quiz</th>
                        <th scope="col">Marks</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Python</td>
                        <td>9/10</td>
                        <td>January 07, 2024 9:00PM</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Python</td>
                        <td>9/10</td>
                        <td>January 07, 2024 9:00PM</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Python</td>
                        <td>9/10</td>
                        <td>January 07, 2024 9:00PM</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col">
                <h3>@pratiksha's performance</h3>
            </div>
        </div>
      </div>
  </div>

  {% endblock %}