{% extends 'base.html' %}

{% block title %}Profile | QuizWiz{% endblock title %}

  {% block content %}
  {% load static %}

  <!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


   <h1 class="display-4 text-center my-5">@{{user_profile.user.username}}'s Profile</h1>
   {% if request.user.username == user_profile.user.username %}
  <div class="container text-center">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="{% url 'editProfile' %}" type="button" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'deleteProfile' %}" type="button" class="btn btn-outline-danger">Delete</a>
      </div>
    {% endif %}

      <div class="container text-center my-4">
        <div class="row">
          <div class="col">
            <img src="{{user_profile.profile_img.url}}" class="rounded-circle" alt="user-profile" height="150" width="150">
            <h2 class="fs-3">@{{user_profile.user.username}}</h2>
          </div>
          <div class="col">
            <h2>{{user_profile.user.first_name |default:"Full Name not available"}} {{user_profile.user.last_name}}</h2>
            <p class="fs-5"><i class="bi bi-gender-neuter"></i> {{user_profile.gender |default:"Gender not available"}}</p>
            <p class="fs-5"><i class="bi bi-geo-alt-fill"></i> {{user_profile.location |default:"Location not available"}}</p>
            <p class="fs-5"><i class="bi bi-file-person"></i> {{user_profile.bio |default:"Bio not available"}}</p>
          </div>
        </div> 
      </div>
      <hr class="my-5">

      <div class="container">
        <div class="row">
            <div class="col">
                <h3>Quiz Attended by @{{user_profile.user.username}}</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Quiz</th>
                        <th scope="col">Marks</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for submission in submissions %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td title="{{submission.quiz.title}}">{{ submission.quiz.title|truncatewords:4 }}</td>
                        <td>{{ submission.score }}/{{ submission.quiz.question_set.all|length }}</td>
                        <td>{{ submission.submitted_at|timesince }} ago</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <!--
            <div class="col">
                <h3>@{{user_profile.user.username}}'s performance</h3>
            </div> -->
        </div>
      </div>
  </div>

  {% endblock %}